.width {
  width: 30%;
  min-width: 200px;
}
.float-right {
  float: right;
}
.text-size {
  text-overflow: clip;
}
.w-100 {
  width: 100%;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-red {
  color: red;
}
.cursor {
  cursor: pointer;
}
.scale1 {
  transition: 0.2s;
}
.scale1:hover {
  transform: scale(1.5);
}
.z-100 {
  z-index: 100;
}
